VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=cardapio-cadelicias.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cardapio-cadelicias
VITE_FIREBASE_STORAGE_BUCKET=cardapio-cadelicias.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
